* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
  width: 100vw;
  height: 14vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1rem solid #0796d6;
  box-shadow: 2px 2px 8px #0796d6;
  background-color: #f7f7f7;
  position: sticky;
  top: 0;
  z-index: 1000;
}


img {
    width: 10%;
}

.navlink ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    color: #0796d6;
    cursor: pointer;
}

.contact-btn {
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: #0796d6;
    color: white;
    cursor: pointer;
    border: none;
}
.contact-btn:hover {
    background-color: #027bb5;
    transform: scale(1.1);
    transition: 0.3s;
}
.navlink ul :hover {
    transform: scale(1.1);
    transition: 0.3s;
}